<% %>
<% %>
<% %>
<% %>
<% %>

<%= %>
<%= %>
<%= %>
<%= %>



<%= a = "a" %>,
<%= b = "b" %>,
<%= a << b %>,
<%= a += b %>



<!-- General page -->
<div class="container">
<!-- Navigation tabs -->
<div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-justified" role="tablist" id="companies_choose">
    <li role="presentation" class="active"><%= link_to ('1'), data_path("1"), remote: true, 'data-target' => '#1' %></li>
    <li role="presentation"><%= link_to ('2'), data_path("2"), remote: true, 'data-target' => '#2' %></li>
    <li role="presentation"><%= link_to ('3'), data_path("3"), remote: true, 'data-target' => '#3' %></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">

        <div id="companies"></div>
        <div id="result">
          <!-- Main -->
          <%= render 'static_pages/c1' %>
        </div>

  </div>
</div>
</div>

<!-- Tabs script -->
<script>
    $('#companies_choose a').click(function (e) {
        //alert('this')
        e.preventDefault()
        $(this).tab('show')
    })
</script>
<!-- General page -->